<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Question Board Main</title>
</head>
<body>
    <table>
        {% for item in data1 %}
        {% if forloop.first %}
        <tr>
            <th>순번</th>
            <th>글쓴이</th>
            <th>글제목</th>
            <th>내용</th>
            <th>조회수</th>
        </tr>
        {% endif %}
        <tr>
            <td>{{forloop.counter0}}</td>
            <td>{{item.q_name}}</td>
            <td>{{item.q_title}}</td>
            <td>{{item.q_content}}</td>
            <td>{{item.q_visitcount}}</td>
        </tr>
        {% if forloop.last %}
        <tr>
            <th colspan="5">완료</th>
            </tr>
        {% endif %}
        {% endfor %}
        
        
    </table>   
</body>
</html>``